section.section.about#about
	.container
		.section__title Learn about us
		.section__subtitle It’s short title here
	.about__wrapper 
		.about__img
			img(src="./img/about/about-img.jpg" alt="")
		.about__info
			.about__info-text Lorem Ipsum has been the industry's standard dummy text ever to since the 1500s, type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting. type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
			a.btn.btn--gray.about__info-btn(href="#") More about us
			.about__info-logos
				.about__info-item
					img(src="./img/about/amazon.png" alt="amazon")
				.about__info-item
					img(src="./img/about/alibaba.png" alt="alibaba")
				.about__info-item
					img(src="./img/about/logo-commerce.png" alt="logo-commerce")
