header.header
	.container.header__container
		a(href="#").logo.header__logo SQ R3
		.header__block
			include ../elements/nav-menu
			a.btn.btn--gray.header__btn(href="#") Order Now
			include ../elements/search
			#nav-toggle.nav__toggle menu
		

