header#header.header
	.container.header__container
		a(href="#home").logo.header__logo SQ R3
		.header__block
			include ../elements/nav-menu
			a.btn.btn--gray.header__btn(href="#") Order Now
			include ../elements/search
			.burger.header__burger
				span.burger__line
		

