section.home#home
	.home__main
		.home__left
			ul.socials
				+socialLink('fb',"#")
				+socialLink('instagram',"#")
				+socialLink('twitter',"#")
		.home__img
			.home__info
				h1.home__info-title Enjoy your life in our luxurious furniture
				p.home__info-subtitle If you are looking for a furniture then you have come to the right place.
				a.btn.btn--gray.home__info-btn(href="#") Order Now
		.home__footer
			.home__footer-item.footer__item
				p.footer__item-title 120 k
				p.footer__item-text Furniture Sale
			.home__footer-item.footer__item
				p.footer__item-title 98 k
				p.footer__item-text
					span Review
					+icon('star')
					span (4.5)
			.home__footer-item.footer__item
				p.footer__item-title 125
				p.footer__item-text Furniture Categories


