section.section.reviews
	.container.reviews__wrapper
		.section__title What say clients about us
		.section__subtitle It is a long established fact that a reader will be distracted by the service.
		.swiper
			.swiper-wrapper

				// Slide1
				+reviewItem(
				"../img/reviews/review-1.jpg",
				"review",
				"Evgeny Smolyakov",
				"11 - 12 - 2021",
				"Lorem Ipsum has been the industry by standard dummy text ever to since the 1500s, it’s  type and scrambled it to make a type specimen book.",
				4)

				// Slide2
				+reviewItem(
				"../img/reviews/review-2.jpg",
				"review",
				"Evgeny Smolyakov",
				"11 - 12 - 2021",
				"Lorem Ipsum has been the industry by standard dummy text ever to since the 1500s, it’s  type and scrambled it to make a type specimen book.",
				1)

				// Slide3
				+reviewItem(
				"../img/reviews/review-3.jpg",
				"review",
				"Evgeny Smolyakov",
				"11 - 12 - 2021",
				"Lorem Ipsum has been the industry by standard dummy text ever to since the 1500s, it’s  type and scrambled it to make a type specimen book.",
				2)

				// Slide4
				+reviewItem(
				"../img/reviews/review-4.jpg",
				"review",
				"Evgeny Smolyakov",
				"11 - 12 - 2021",
				"Lorem Ipsum has been the industry by standard dummy text ever to since the 1500s, it’s  type and scrambled it to make a type specimen book.",
				4)

			//Swiper button prev, next
			.swiper-button-prev.slider__button
				+icon('arrow')
			.swiper-button-next.slider__button
				+icon('arrow')


