section.section.services#services
	.container
		.section__title We provide that service
		.section__subtitle It is a long established fact that a reader will be distracted by the service.
		.service__wrapper
			.service__item.service-item
				.service-item__icon
					+icon('vehicle')
				.service-item__title Free Delevary
				.service-item__subtitle It is a long established fact that a reader will be the service.
			.service__item.service-item
				.service-item__icon
					+icon('check')
				.service-item__title 100% Guarnatee
				.service-item__subtitle It is a long established fact that a reader will be the service.
			.service__item.service-item
				.service-item__icon
					+icon('surface')
				.service-item__title Best Quality
				.service-item__subtitle It is a long established fact that a reader will be the service.