@mixin burger {
  position: relative;
  border: none;
  padding: 0;
  width: $burger-width;
  height: $burger-height;
  color: $black;
  background-color: transparent;
  cursor: pointer;
  z-index: 100;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: $burger-line-height;
    background-color: $black;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - $burger-line-height);
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: $burger-line-height;
    background-color: $black;
    height: $burger-line-height;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }

  &--active {
    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
      background-color: $white;
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
      background-color: $white;
    }

    .burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
      background-color: $white;
    }
  }
}
