nav.navbar__header.navbar
	#nav-menu.nav__menu
		ul.nav__list
			li.nav__item
				a.nav__link.active-link(href='#hero') Home
			li.nav__item
				a.nav__link(href='#about') About
			li.nav__item
				a.nav__link(href='#services') Services
			li.nav__item
				a.nav__link(href='#furniture') Furniture
			//- #nav-close.close close				