header {
  flex: 0 0 auto;
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 32px 0;
  z-index: 100;
  transition: all 0.3s linear;
  background-color: #fff;
  &.scroll-navbar {
    padding: 8px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  }
  &__container {
    @include flex(row, center, space-between);
  }
  &__block {
    display: flex;
    align-items: center;
  }
  &__btn {
    margin-left: 35px;
  }
  &__search {
    margin-left: 30px;
  }
}
.logo {
  @include adaptiv-font(25, 18, 0);
  @include adaptiv-value("line-height", 29, 20, 0);
  font-weight: bold;
  color: $black;
}
.burger {
  margin-left: 15px;
  display: none;
  @include burger;
}

// breakpoints
@include tablet {
  .header {
    &__btn {
      display: none;
    }
  }
}
@include laptop {
  .header {
    &__burger {
      display: block;
    }
  }
}
