extends template/main

block variables
	- var title = 'Furniture'

block content
	include modules/header
	include modules/home
	include modules/about
	include modules/service
	include modules/furniture
	include modules/reviews
	include modules/footer

	include elements/scroll





