// Colors
$white: #fff;
$black: #000;
$gray: #373737;

// Sizes
$base-font-size: 16px;

// Brackpoint
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1240px;
$md1: $maxWidthContainer + 12; //desctop
$md2: 991.98px; //laptop
$md3: 767.98px; //tablet
$md4: 479.98px; //mobile
$content-size: 1190px;

// Fonts
$mainFont: "Roboto-Regular", sans-serif;
$roboto300: "Roboto-Light", sans-serif;
$roboto500: "Roboto-Medium", sans-serif;
$roboto700: "Roboto-Bold", sans-serif;
$extra: "Revalia", cursive;
$transition: all 0.3s ease-in-out;
